.input{
    margin-top: 20px;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 35px;
    width: 568px;
    appearance: none;
    transition: border 0.15s ease 0s;}

.input:focus{
        outline: none;
        box-shadow: none;
        border-color: rgb(100, 153, 255);
}
.submitButton{
        color: #636a6b;
        padding: 0.7em 1.7em;
        font-size: 15px;
        border-radius: 0.5em;
        background: rgb(31, 32, 35);
        border: 1px solid rgb(60, 63, 68);
        transition: all .3s;
        box-shadow: 5px -6px 18px -7px #090909;
        cursor: pointer;
        width: auto;
        margin-bottom: none;
        height: 49px;
}
.submitButton:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}