.number{
    display: inline-block;
    margin-top: 30px;
}
.buttonNumber{
    margin: 2px;
    font-family: "Roboto";
    cursor: pointer;
    color: #636a6b;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 0.5em;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    transition: all .3s;
    box-shadow: 5px -6px 18px -7px #090909;
    cursor: pointer;
}

.buttonNumber:focus{
    border-color: rgb(100, 153, 255);
}