:root{
  --background-color: rgba(0,0,0,0.69) 0px 26px 30px -10px,rgba(0,0,0,0.73) 0px 16px 10px -10px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(174,219,238);
  background: linear-gradient(90deg, rgba(174,219,238,1) 0%, rgba(148,187,233,1) 100%);
  background-size: cover; */
  background: rgb(52,61,102);
  background: linear-gradient(60deg, rgba(52,61,102,1) 0%, rgba(17,17,17,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
