
.card{
    background-color:#222635;
    /* box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222; */
    /* border:1px solid #1b1f2c; */
    border: 1px solid #2f3549;
    font-family:Arial;
    width: 30%;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    float: left;
    height: calc(100vh/ 2.4);
    color: rgb(161, 161, 161);
}
h3{
    color: rgb(104, 104, 104);
    font-size: 20px;
    margin-bottom: 0;
}
h5{
    margin-top: 5px;
    font-size: 14px;
}
.card:hover{
    transition: 0.4s;
    border: 1px solid #444;
    /* transform: scale(1); */
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
}
.card:focus-visible{
    outline-offset: 1px;
}
.nameCountry{
    padding: 2px;
}

.link{
    text-decoration: none;
}
.buttonCard {
    color: #636a6b;
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 0.5em;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    transition: all .3s;
    box-shadow: 5px -6px 18px -7px #090909;
    cursor: pointer;
}
.buttonCard:active{
     border-color: rgb(100, 153, 255);
}
